* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url("img/finger.webp"), auto;
}

.game {
    display: grid;
    grid-template: 1fr 450px / repeat(3, 350px);
    grid-template-areas:
        "title title title"
        "player1 game player2";
    gap: 20px;
}

.title {
    grid-area: title;
    text-align: center;
}

.center {
    grid-area: game;
    display: grid;
    grid-template: 400px 1fr / repeat(2, 1fr); 
    grid-template-areas:
        "gameboard gameboard"
        "match game";
}

.gameboard {
    grid-area: gameboard;
    height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    font-size: 100px;
    gap: 20px;
}

button {
    width: 100px;
    height: 40px;
    align-self: center;
    justify-self: center;
}

.reset-game {
    grid-area: game;
}

.reset-match {
    grid-area: match;
}

#player1 {
    grid-area: player1;
}

#player2 {
    grid-area: player2;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
    text-align: center
}

.characters {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 5px;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

img.chooser {
    height: 80px;
}

img.chooser:hover {
    filter: brightness(50%);

}

img.character {
    height: 300px;
}

.gameboard div {
    text-align: center;
}

.gameboard div img {
    height: 70px;
}

.highlighted {
    background-color: yellow;
    border-radius: 50px;
}