* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Stardew";
    src: url('fonts/Stardew_Valley.ttf') format('truetype');
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(img/background/panorama.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: "Stardew";
}

header {
    display: flex;
    justify-content: center;
    height: 40px;

    background-image: url(img/background/walls.png);
}

#content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    align-self: center;
}

#home-content, #menu-content, #contact-content {
    width: min(50vw, 700px);
    padding: 20px;

    background-image: url(img/background/table.png);
    font-size: x-large;

    border-radius: 5%;
    box-shadow: 1px 1px 1px 0.5px gray;
}

#home-content {
    gap: 5vh;

    display: flex;
    flex-direction: column;
}

#hours p {
    text-align: center;
}

#menu-content {
    display: grid;
    grid-template: 1fr repeat(3, 2fr) / repeat(2, 1fr);

    justify-items: center;
    gap: 30px;
}

#menu-content h1 {
    grid-area: 1 / 1 / 2 / 3;
}

#menu-content .item-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

#menu-content .item-container h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.price {
    display: flex;
}

.price img {
    height: 18px;
}

#contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.contact-card p {
    grid-area: 1 / 2 / 3 / 3;
}

footer {
    display: flex;
    justify-content: center;
    height: 30px;

    background-image: url(img/background/floor.png);
}